- Membuat ETL Pipeline menggunakan Luigi
- Proposed ETL Pipeline design adalah sebagai berikut

<center>
<img src="https://sekolahdata-assets.s3.ap-southeast-1.amazonaws.com/notebook-images/mde-intro-to-data-eng/15-01.png" width=70%>
</center>

- Task yang harus dilakukan adalah:
    1. Membuat Pipeline Extract dari source:
        - [API Payment Data](https://shandytepe.github.io/payment.json)
        - Database Hotel
    
       Setelah berhasil melakukan Extract, simpan output `.csv` ke dalam folder `live_class_w8/data/raw`
    
    2. Membuat Pipeline Validation dari Pipeline Extract data. Proses validasi yang dilakukan adalah:
        - Check Data Shape
        - Check Data Types
        - Check Missing Values

    3. Membuat Pipeline Transform dari Pipeline Extract Data. Proses yang dilakukan adalah:
        - Join Data dari beberapa source, menjadi satu table data yang baru
            - Source yang digunakan untuk membuat table baru adalah:
                - `payment` (API Payment Data)
                - `reservation` (DB Hotel)
                - `customer` (DB Hotel)


<center>
<img src="https://sekolahdata-assets.s3.ap-southeast-1.amazonaws.com/notebook-images/mde-intro-to-data-eng/15-02.png" width=80%>
</center>


- Cleaning data

    Setelah berhasil melakukan proses Transform, simpan output `.csv` ke dalam folder `live_class_w8/data/transform`

    4. Membuat Pipeline Load dari Pipeline Transform. Memasukkan table yang baru ke dalam Data Warehouse yang sudah dibuat. Untuk membuat Data Warehouse, bisa melihat dokumentasi di https://github.com/shandytepe/live-class-w8-intro-to-data-eng/tree/main/docker-db

    5. Menggabungkan semua Pipeline menjadi satu dengan menggunakan Luigi

    6. Set schedule pada Pipelien yang sudah dibuat dengan menggunakan `cron`. Set schedule pipeline untuk dijalankan tiap 2 menit sekali. Sehingga, syntax `cron` nya adalah sebagai berikut

        ```bash
        */2 * * * * /path/to/pipeline.sh
        ```

    7. Melakukan proses `UPSERT` untuk mengecek robustness dari pipeline yang dibuat

# Extract

## Data Hotel

In [4]:
import requests
import json
import pandas as pd

# URL of the JSON file
url = "https://shandytepe.github.io/payment.json"

# Fetch the JSON file from the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the JSON content
    data = response.json()  # Automatically parses JSON into a Python dictionary
    print(data)  # Print the JSON content
else:
    print(f"Failed to fetch JSON. HTTP Status Code: {response.status_code}")

{'payment_data': [{'payment_id': 1, 'reservation_id': 1, 'provider': 'Ovo', 'account_number': 38137149, 'payment_status': 'Success', 'payment_date': '2020-10-20 17:07:04.406780', 'expire_date': '2020-10-28 18:10:37.175108'}, {'payment_id': 2, 'reservation_id': 2, 'provider': 'BCA', 'account_number': 42103729, 'payment_status': 'Success', 'payment_date': '2015-02-28 16:44:56.703511', 'expire_date': '2015-03-08 05:27:33.443131'}, {'payment_id': 3, 'reservation_id': 3, 'provider': 'Permata', 'account_number': 58689635, 'payment_status': 'Success', 'payment_date': '2022-04-03 13:27:30.811447', 'expire_date': '2022-04-06 14:20:57.846492'}, {'payment_id': 4, 'reservation_id': 4, 'provider': 'BNI', 'account_number': 107161965, 'payment_status': 'Success', 'payment_date': '2019-10-04 08:39:56.034805', 'expire_date': '2019-10-08 02:01:21.209415'}, {'payment_id': 5, 'reservation_id': 5, 'provider': 'BSI', 'account_number': 14334131, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2020-06-14 12:02:55.669148'}, {'payment_id': 6, 'reservation_id': 6, 'provider': 'Ovo', 'account_number': 43583173, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2020-03-25 03:35:27.294069'}, {'payment_id': 7, 'reservation_id': 7, 'provider': 'BSI', 'account_number': 21381685, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2017-10-12 03:15:31.976142'}, {'payment_id': 8, 'reservation_id': 8, 'provider': 'Permata', 'account_number': 119636925, 'payment_status': 'Success', 'payment_date': '2019-07-06 00:27:04.653808', 'expire_date': '2019-07-16 05:38:12.603096'}, {'payment_id': 9, 'reservation_id': 9, 'provider': 'Mandiri', 'account_number': 128447299, 'payment_status': 'Success', 'payment_date': '2020-10-22 21:58:00.410610', 'expire_date': '2020-11-07 21:05:56.055206'}, {'payment_id': 10, 'reservation_id': 10, 'provider': 'BCA', 'account_number': 21032743, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2021-03-23 15:28:53.857496'}, {'payment_id': 11, 'reservation_id': 11, 'provider': 'BCA', 'account_number': 16173439, 'payment_status': 'Success', 'payment_date': '2015-12-30 19:38:38.538543', 'expire_date': '2016-01-04 23:05:09.802748'}, {'payment_id': 12, 'reservation_id': 12, 'provider': 'Mandiri', 'account_number': 104632264, 'payment_status': 'Success', 'payment_date': '2016-04-20 11:00:30.806322', 'expire_date': '2016-04-29 02:21:20.891066'}, {'payment_id': 13, 'reservation_id': 13, 'provider': 'BSI', 'account_number': 43534397, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2021-03-09 03:35:10.487369'}, {'payment_id': 14, 'reservation_id': 14, 'provider': 'BNI', 'account_number': 49889648, 'payment_status': 'Success', 'payment_date': '2015-08-30 02:50:08.222347', 'expire_date': '2015-09-06 15:20:00.703303'}, {'payment_id': 15, 'reservation_id': 15, 'provider': 'Ovo', 'account_number': 18430413, 'payment_status': 'Success', 'payment_date': '2015-08-25 14:16:14.426967', 'expire_date': '2015-09-11 10:50:49.605705'}, {'payment_id': 16, 'reservation_id': 16, 'provider': 'BSI', 'account_number': 50658732, 'payment_status': 'Success', 'payment_date': '2015-06-20 02:46:39.973862', 'expire_date': '2015-07-14 03:01:07.619775'}, {'payment_id': 17, 'reservation_id': 17, 'provider': 'Permata', 'account_number': 127295361, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2017-07-04 16:06:26.397032'}, {'payment_id': 18, 'reservation_id': 18, 'provider': 'Ovo', 'account_number': 17623865, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2022-02-07 12:28:06.762768'}, {'payment_id': 19, 'reservation_id': 19, 'provider': 'Permata', 'account_number': 45720659, 'payment_status': 'Success', 'payment_date': '2020-08-13 21:31:51.720690', 'expire_date': '2020-08-18 00:19:21.200788'}, {'payment_id': 20, 'reservation_id': 20, 'provider': 'BRI', 'account_number': 24522616, 'payment_status': 'Success', 'payment_date': '2019-04-29 02:30:35.993787', 'expire_date': '2019-05-04 07:50:25.941863'}, {'payment_id': 21, 'reservation_id': 21, 'provider': 'BCA', 'account_number': 40171274, 'payment_status': 'Success', 'payment_date': '2016-07-05 21:12:14.843462', 'expire_date': '2016-07-23 13:34:21.552345'}, {'payment_id': 22, 'reservation_id': 22, 'provider': 'BSI', 'account_number': 87325119, 'payment_status': 'Success', 'payment_date': '2022-09-14 04:05:25.125170', 'expire_date': '2022-09-22 05:26:27.455076'}, {'payment_id': 23, 'reservation_id': 23, 'provider': 'Mandiri', 'account_number': 80424842, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2015-12-27 08:40:25.543543'}, {'payment_id': 24, 'reservation_id': 24, 'provider': 'Dana', 'account_number': 68014753, 'payment_status': 'Success', 'payment_date': '2018-04-22 10:35:56.072920', 'expire_date': '2018-04-23 08:43:05.754180'}, {'payment_id': 25, 'reservation_id': 25, 'provider': 'Ovo', 'account_number': 67955907, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2018-01-23 00:35:29.432422'}, {'payment_id': 26, 'reservation_id': 26, 'provider': 'Ovo', 'account_number': 118567367, 'payment_status': 'Success', 'payment_date': '2022-07-15 21:16:23.550955', 'expire_date': '2022-07-18 12:52:41.212040'}, {'payment_id': 27, 'reservation_id': 27, 'provider': 'Mandiri', 'account_number': 63877474, 'payment_status': 'Success', 'payment_date': '2023-09-23 08:40:39.730816', 'expire_date': '2023-09-24 01:16:48.101635'}, {'payment_id': 28, 'reservation_id': 28, 'provider': 'Mandiri', 'account_number': 56900633, 'payment_status': 'Success', 'payment_date': '2017-02-05 15:32:32.753439', 'expire_date': '2017-02-18 06:59:20.424385'}, {'payment_id': 29, 'reservation_id': 29, 'provider': 'Permata', 'account_number': 85393525, 'payment_status': 'Success', 'payment_date': '2023-01-28 12:45:00.348000', 'expire_date': '2023-01-31 03:41:40.888129'}, {'payment_id': 30, 'reservation_id': 30, 'provider': 'BNI', 'account_number': 77692616, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2022-10-24 00:18:02.325080'}, {'payment_id': 31, 'reservation_id': 31, 'provider': 'BRI', 'account_number': 109047964, 'payment_status': 'Success', 'payment_date': '2017-05-01 20:28:13.755565', 'expire_date': '2017-05-09 08:51:12.372034'}, {'payment_id': 32, 'reservation_id': 32, 'provider': 'Mandiri', 'account_number': 42562920, 'payment_status': 'Success', 'payment_date': '2015-04-19 16:25:57.795156', 'expire_date': '2015-04-23 08:29:01.599162'}, {'payment_id': 33, 'reservation_id': 33, 'provider': 'BSI', 'account_number': 11185396, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2019-07-04 21:42:17.104614'}, {'payment_id': 34, 'reservation_id': 34, 'provider': 'BNI', 'account_number': 126055117, 'payment_status': 'Success', 'payment_date': '2022-06-29 04:45:09.569007', 'expire_date': '2022-07-03 02:19:06.766633'}, {'payment_id': 35, 'reservation_id': 35, 'provider': 'BNI', 'account_number': 67319268, 'payment_status': 'Success', 'payment_date': '2021-03-08 00:19:09.674313', 'expire_date': '2021-04-02 21:35:18.446344'}, {'payment_id': 36, 'reservation_id': 36, 'provider': 'BCA', 'account_number': 68405388, 'payment_status': 'Success', 'payment_date': '2019-01-05 08:33:46.361318', 'expire_date': '2019-01-09 02:25:55.280077'}, {'payment_id': 37, 'reservation_id': 37, 'provider': 'Permata', 'account_number': 74409310, 'payment_status': 'Success', 'payment_date': '2021-02-22 23:33:09.517954', 'expire_date': '2021-03-07 10:41:32.072754'}, {'payment_id': 38, 'reservation_id': 38, 'provider': 'BSI', 'account_number': 77891129, 'payment_status': 'Success', 'payment_date': '2023-08-23 00:36:18.891850', 'expire_date': '2023-09-01 14:07:51.339327'}, {'payment_id': 39, 'reservation_id': 39, 'provider': 'BNI', 'account_number': 85258754, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2023-03-10 01:12:22.026016'}, {'payment_id': 40, 'reservation_id': 40, 'provider': 'Mandiri', 'account_number': 82684305, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2023-12-25 09:52:31.666417'}, {'payment_id': 41, 'reservation_id': 41, 'provider': 'Dana', 'account_number': 47696118, 'payment_status': 'Success', 'payment_date': '2020-02-27 10:00:13.749346', 'expire_date': '2020-02-28 04:37:35.641615'}, {'payment_id': 42, 'reservation_id': 42, 'provider': 'Permata', 'account_number': 20744456, 'payment_status': 'Success', 'payment_date': '2022-08-12 06:55:05.659188', 'expire_date': '2022-08-24 09:26:35.508498'}, {'payment_id': 43, 'reservation_id': 43, 'provider': 'Permata', 'account_number': 93997599, 'payment_status': 'Success', 'payment_date': '2016-03-15 12:39:13.901383', 'expire_date': '2016-04-05 14:50:43.437155'}, {'payment_id': 44, 'reservation_id': 44, 'provider': 'Dana', 'account_number': 84870612, 'payment_status': 'Success', 'payment_date': '2020-07-28 08:11:48.573162', 'expire_date': '2020-07-30 06:38:43.895765'}, {'payment_id': 45, 'reservation_id': 45, 'provider': 'BRI', 'account_number': 41401341, 'payment_status': 'Success', 'payment_date': '2022-11-16 11:46:45.890529', 'expire_date': '2022-11-26 16:05:43.658527'}, {'payment_id': 46, 'reservation_id': 46, 'provider': 'Dana', 'account_number': 114271479, 'payment_status': 'Success', 'payment_date': '2019-08-13 02:30:29.381232', 'expire_date': '2019-08-20 00:39:27.665543'}, {'payment_id': 47, 'reservation_id': 47, 'provider': 'Ovo', 'account_number': 49379721, 'payment_status': 'Success', 'payment_date': '2023-11-26 00:37:55.621649', 'expire_date': '2023-12-16 06:31:35.617338'}, {'payment_id': 48, 'reservation_id': 48, 'provider': 'BCA', 'account_number': 101980100, 'payment_status': 'Success', 'payment_date': '2020-11-20 18:33:57.224326', 'expire_date': '2020-11-25 15:59:37.295445'}, {'payment_id': 49, 'reservation_id': 49, 'provider': 'Dana', 'account_number': 76380741, 'payment_status': 'Success', 'payment_date': '2021-09-30 22:51:39.392363', 'expire_date': '2021-10-02 02:48:59.764712'}, {'payment_id': 50, 'reservation_id': 50, 'provider': 'Dana', 'account_number': 120095487, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2021-05-03 19:49:22.287891'}, {'payment_id': 51, 'reservation_id': 51, 'provider': 'Permata', 'account_number': 37124593, 'payment_status': 'Success', 'payment_date': '2023-06-10 08:09:57.495218', 'expire_date': '2023-07-02 21:50:33.150085'}, {'payment_id': 52, 'reservation_id': 52, 'provider': 'Dana', 'account_number': 57906144, 'payment_status': 'Success', 'payment_date': '2021-11-14 13:20:46.221819', 'expire_date': '2021-11-26 11:07:51.214998'}, {'payment_id': 53, 'reservation_id': 53, 'provider': 'BRI', 'account_number': 80320784, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2023-05-11 18:08:14.305635'}, {'payment_id': 54, 'reservation_id': 54, 'provider': 'Permata', 'account_number': 85084669, 'payment_status': 'Success', 'payment_date': '2015-05-31 20:07:04.540371', 'expire_date': '2015-06-12 11:54:49.849240'}, {'payment_id': 55, 'reservation_id': 55, 'provider': 'BNI', 'account_number': 96554777, 'payment_status': 'Success', 'payment_date': '2018-12-14 17:32:02.951623', 'expire_date': '2018-12-19 04:32:43.135352'}, {'payment_id': 56, 'reservation_id': 56, 'provider': 'Dana', 'account_number': 26643726, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2019-06-21 16:11:44.478131'}, {'payment_id': 57, 'reservation_id': 57, 'provider': 'BSI', 'account_number': 96309210, 'payment_status': 'Success', 'payment_date': '2020-04-14 12:15:04.336920', 'expire_date': '2020-04-18 06:13:07.614273'}, {'payment_id': 58, 'reservation_id': 58, 'provider': 'BCA', 'account_number': 23778636, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2022-01-29 23:14:13.514540'}, {'payment_id': 59, 'reservation_id': 59, 'provider': 'Mandiri', 'account_number': 108066807, 'payment_status': 'Success', 'payment_date': '2017-11-11 03:42:20.481068', 'expire_date': '2017-11-13 17:15:11.355283'}, {'payment_id': 60, 'reservation_id': 60, 'provider': 'BRI', 'account_number': 110497723, 'payment_status': 'Success', 'payment_date': '2023-04-15 19:37:12.782132', 'expire_date': '2023-04-16 04:38:12.455727'}, {'payment_id': 61, 'reservation_id': 61, 'provider': 'BSI', 'account_number': 47423080, 'payment_status': 'Success', 'payment_date': '2019-03-18 21:20:10.362002', 'expire_date': '2019-04-03 22:53:23.095561'}, {'payment_id': 62, 'reservation_id': 62, 'provider': 'Ovo', 'account_number': 98612293, 'payment_status': 'Success', 'payment_date': '2016-06-25 07:11:03.340820', 'expire_date': '2016-07-01 17:54:37.944352'}, {'payment_id': 63, 'reservation_id': 63, 'provider': 'BNI', 'account_number': 70613362, 'payment_status': 'Success', 'payment_date': '2019-07-28 11:05:08.955412', 'expire_date': '2019-08-03 05:39:22.799905'}, {'payment_id': 64, 'reservation_id': 64, 'provider': 'Dana', 'account_number': 89704042, 'payment_status': 'Success', 'payment_date': '2015-11-18 22:08:04.793063', 'expire_date': '2015-11-20 06:28:29.081883'}, {'payment_id': 65, 'reservation_id': 65, 'provider': 'Dana', 'account_number': 10612190, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2016-03-03 18:51:54.191916'}, {'payment_id': 66, 'reservation_id': 66, 'provider': 'BRI', 'account_number': 84134154, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2019-10-14 14:03:46.277758'}, {'payment_id': 67, 'reservation_id': 67, 'provider': 'Permata', 'account_number': 105844734, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2022-09-08 18:50:59.286710'}, {'payment_id': 68, 'reservation_id': 68, 'provider': 'Ovo', 'account_number': 114214960, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2019-10-31 02:42:12.650666'}, {'payment_id': 69, 'reservation_id': 69, 'provider': 'Mandiri', 'account_number': 82425108, 'payment_status': 'Success', 'payment_date': '2017-06-28 04:34:19.252113', 'expire_date': '2017-06-29 17:37:30.305067'}, {'payment_id': 70, 'reservation_id': 70, 'provider': 'Dana', 'account_number': 67195893, 'payment_status': 'Success', 'payment_date': '2016-10-12 00:28:15.222130', 'expire_date': '2016-11-02 18:51:32.716009'}, {'payment_id': 71, 'reservation_id': 71, 'provider': 'BSI', 'account_number': 44379182, 'payment_status': 'Success', 'payment_date': '2022-06-29 01:22:52.919556', 'expire_date': '2022-07-04 23:09:59.988440'}, {'payment_id': 72, 'reservation_id': 72, 'provider': 'Permata', 'account_number': 71608994, 'payment_status': 'Success', 'payment_date': '2016-02-07 00:26:54.307496', 'expire_date': '2016-02-11 15:01:20.193673'}, {'payment_id': 73, 'reservation_id': 73, 'provider': 'BNI', 'account_number': 108631148, 'payment_status': 'Success', 'payment_date': '2021-01-04 10:40:52.597047', 'expire_date': '2021-01-04 13:54:49.421497'}, {'payment_id': 74, 'reservation_id': 74, 'provider': 'BCA', 'account_number': 25988916, 'payment_status': 'Success', 'payment_date': '2015-01-06 18:04:12.385422', 'expire_date': '2015-01-13 20:28:42.341184'}, {'payment_id': 75, 'reservation_id': 75, 'provider': 'Ovo', 'account_number': 83806784, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2019-04-19 20:22:23.677737'}, {'payment_id': 76, 'reservation_id': 76, 'provider': 'BRI', 'account_number': 12041497, 'payment_status': 'Success', 'payment_date': '2020-07-02 16:13:11.932542', 'expire_date': '2020-07-17 17:38:17.101165'}, {'payment_id': 77, 'reservation_id': 77, 'provider': 'Permata', 'account_number': 107239033, 'payment_status': 'Success', 'payment_date': '2023-12-06 22:13:51.614654', 'expire_date': '2023-12-18 11:04:15.189224'}, {'payment_id': 78, 'reservation_id': 78, 'provider': 'BSI', 'account_number': 105022242, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2015-05-27 12:30:12.943937'}, {'payment_id': 79, 'reservation_id': 79, 'provider': 'Dana', 'account_number': 32745579, 'payment_status': 'Success', 'payment_date': '2017-12-08 05:25:19.282480', 'expire_date': '2017-12-30 18:38:36.992419'}, {'payment_id': 80, 'reservation_id': 80, 'provider': 'BRI', 'account_number': 91643379, 'payment_status': 'Success', 'payment_date': '2015-04-17 18:52:42.263507', 'expire_date': '2015-04-24 16:40:22.687923'}, {'payment_id': 81, 'reservation_id': 81, 'provider': 'BSI', 'account_number': 60394675, 'payment_status': 'Success', 'payment_date': '2019-06-19 07:26:25.436623', 'expire_date': '2019-06-20 09:32:49.233925'}, {'payment_id': 82, 'reservation_id': 82, 'provider': 'Ovo', 'account_number': 68940584, 'payment_status': 'Success', 'payment_date': '2015-08-03 14:06:09.588340', 'expire_date': '2015-08-04 23:55:12.720663'}, {'payment_id': 83, 'reservation_id': 83, 'provider': 'Mandiri', 'account_number': 68817620, 'payment_status': 'Success', 'payment_date': '2020-02-21 00:55:12.000211', 'expire_date': '2020-03-10 21:05:40.467892'}, {'payment_id': 84, 'reservation_id': 84, 'provider': 'BSI', 'account_number': 87382068, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2021-10-21 17:02:15.577571'}, {'payment_id': 85, 'reservation_id': 85, 'provider': 'BSI', 'account_number': 71827432, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2017-09-21 08:23:18.169208'}, {'payment_id': 86, 'reservation_id': 86, 'provider': 'Permata', 'account_number': 119271005, 'payment_status': 'Success', 'payment_date': '2022-06-26 10:53:36.921245', 'expire_date': '2022-06-27 17:39:58.972960'}, {'payment_id': 87, 'reservation_id': 87, 'provider': 'BRI', 'account_number': 65601897, 'payment_status': 'Success', 'payment_date': '2016-05-09 04:43:16.673477', 'expire_date': '2016-05-23 07:56:07.111872'}, {'payment_id': 88, 'reservation_id': 88, 'provider': 'BCA', 'account_number': 36074877, 'payment_status': 'Success', 'payment_date': '2023-11-10 07:06:09.877160', 'expire_date': '2023-11-10 18:03:50.074177'}, {'payment_id': 89, 'reservation_id': 89, 'provider': 'Permata', 'account_number': 20016087, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2017-06-18 21:27:53.264377'}, {'payment_id': 90, 'reservation_id': 90, 'provider': 'Mandiri', 'account_number': 114214151, 'payment_status': 'Success', 'payment_date': '2016-12-07 08:09:32.799865', 'expire_date': '2016-12-15 01:03:47.632264'}, {'payment_id': 91, 'reservation_id': 91, 'provider': 'BNI', 'account_number': 118900458, 'payment_status': 'Success', 'payment_date': '2020-05-12 05:16:15.834908', 'expire_date': '2020-05-18 06:31:50.530652'}, {'payment_id': 92, 'reservation_id': 92, 'provider': 'Dana', 'account_number': 97779292, 'payment_status': 'Failed', 'payment_date': None, 'expire_date': '2020-05-14 09:29:03.113355'}, {'payment_id': 93, 'reservation_id': 93, 'provider': 'Dana', 'account_number': 87146592, 'payment_status': 'Success', 'payment_date': '2021-09-15 06:34:49.551255', 'expire_date': '2021-09-19 15:53:29.023623'}, {'payment_id': 94, 'reservation_id': 94, 'provider': 'Dana', 'account_number': 96030822, 'payment_status': 'Success', 'payment_date': '2017-08-09 20:23:13.769201', 'expire_date': '2017-09-05 02:41:10.294499'}, {'payment_id': 95, 'reservation_id': 95, 'provider': 'Ovo', 'account_number': 40338389, 'payment_status': 'Success', 'payment_date': '2017-10-17 20:06:21.595450', 'expire_date': '2017-11-02 20:23:54.866262'}, {'payment_id': 96, 'reservation_id': 96, 'provider': 'Dana', 'account_number': 64513164, 'payment_status': 'Success', 'payment_date': '2016-01-08 04:26:10.318807', 'expire_date': '2016-01-18 15:53:37.992629'}, {'payment_id': 97, 'reservation_id': 97, 'provider': 'Ovo', 'account_number': 114181064, 'payment_status': 'Success', 'payment_date': '2017-11-22 01:42:36.010233', 'expire_date': '2017-12-03 05:35:37.078877'}, {'payment_id': 98, 'reservation_id': 98, 'provider': 'BCA', 'account_number': 28492784, 'payment_status': 'Waiting', 'payment_date': None, 'expire_date': '2017-12-09 12:07:29.771848'}, {'payment_id': 99, 'reservation_id': 99, 'provider': 'BNI', 'acc

In [5]:
raw_data = data['payment_data']

In [35]:
df = pd.DataFrame(raw_data)
df

,payment_id,reservation_id,provider,account_number,payment_status,payment_date,expire_date
0,1,1,Ovo,38137149,Success,2020-10-20 17:07:04.406780,2020-10-28 18:10:37.175108
1,2,2,BCA,42103729,Success,2015-02-28 16:44:56.703511,2015-03-08 05:27:33.443131
2,3,3,Permata,58689635,Success,2022-04-03 13:27:30.811447,2022-04-06 14:20:57.846492
3,4,4,BNI,107161965,Success,2019-10-04 08:39:56.034805,2019-10-08 02:01:21.209415
4,5,5,BSI,14334131,Failed,None,2020-06-14 12:02:55.669148
...,...,...,...,...,...,...,...
396,397,397,Permata,87836019,Success,2018-08-05 09:22:05.983116,2018-08-27 12:44:56.532991
397,398,398,Mandiri,50997930,Failed,None,2022-04-19 12:35:51.127022
398,399,399,Ovo,44305033,Success,2015-12-12 22:35:15.569310,2015-12-19 19:28:08.809478
399,400,400,BNI,84875963,Success,2021-07-29 16:38:06.052542,2021-08-02 22:27:28.713637
400,401,401,BCA,11111111,Success,2024-02-14 00:30:15.052542,2024-02-15 00:30:15.052542

## Make Connection Database

In [16]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
from typing import Optional

def postgres_engine() -> Optional[create_engine]:
    """
    Create and return a SQLAlchemy engine for a PostgreSQL database.

    Returns:
        Optional[create_engine]: A SQLAlchemy engine object, or None if an error occurs.
    """
    # Load environment variables from .env file
    load_dotenv("Week 8/.env")

    # Fetch environment variables
    db_user = os.getenv('DB_USER')
    db_password = os.getenv('DB_PASSWORD')
    db_host = os.getenv('DB_HOST')
    db_port = os.getenv('DB_PORT')
    db_name = os.getenv('DB_NAME')

    # Debug: Print the retrieved values
    print(f"DB_USER: {db_user}")
    print(f"DB_PASSWORD: {db_password}")
    print(f"DB_HOST: {db_host}")
    print(f"DB_PORT: {db_port}")
    print(f"DB_NAME: {db_name}")

    # Check if all required environment variables are set
    if not all([db_user, db_password, db_host, db_port, db_name]):
        raise ValueError("One or more required environment variables are not set.")

    # Create the database URL
    database_url = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'

    # Create and return the engine
    engine = create_engine(database_url)
    return engine

In [17]:
try:
    engine = postgres_engine()
    print("Successfully connected to the database")
    # Perform database operations
except Exception as e:
    print(f"An error occurred: {e}")

DB_USER: postgres
DB_PASSWORD: cobapassword
DB_HOST: localhost
DB_PORT: 5434
DB_NAME: hotel_analysis_db
Successfully connected to the database

## Retrieve Table from DB

In [25]:
def read_sql(table_name: str) -> pd.DataFrame:
    # Query the database
    query = f"SELECT * FROM public.{table_name};"
    df = pd.read_sql(query, engine)

    # Display the results
    return df  # Return the DataFrame

In [26]:
# Call the function and store the result
df_reservation = read_sql('reservation')
df_customer = read_sql('customer')

df_customer.head()
df_reservation.head()

,reservation_id,customer_id,reservation_date,start_date,end_date,total_price,review,rating,created_at
0,1,885,2020-10-03 14:38:18.907,2020-10-28 18:10:37.175,2020-11-07 06:56:19.627,7000000.0,hated hotel arrested talking loud arrived hote...,2,2025-01-26 06:11:04.602576
1,2,144,2015-02-17 20:44:11.696,2015-03-08 05:27:33.443,2015-03-13 01:01:28.449,15000000.0,great location 110 priceline hotel block tram ...,3,2025-01-26 06:11:04.602576
2,3,560,2022-03-19 12:18:48.993,2022-04-06 14:20:57.846,2022-04-10 08:06:20.564,3000000.0,"really great, great stay, rooms large clean go...",5,2025-01-26 06:11:04.602576
3,4,710,2019-10-01 12:33:58.891,2019-10-08 02:01:21.209,2019-10-19 06:25:22.948,15000000.0,great time wife recently opportunity stay sher...,2,2025-01-26 06:11:04.602576
4,5,606,2020-05-28 23:25:59.539,2020-06-14 12:02:55.669,2020-06-22 20:59:13.732,5000000.0,beautiful just returned night stay gran melia ...,2,2025-01-26 06:11:04.602576

In [28]:
df_reservation.head()
df_customer.head()

,customer_id,first_name,last_name,email,phone,created_at
0,1,Surya,Nainggolan,suryanainggolan@hotmail.com,(0904) 694-4591,2024-02-09 13:59:44.733151
1,2,Estiawan,Saragih,estiawansaragih@hotmail.com,+62-62-782-9299,2024-02-09 13:59:44.733151
2,3,Mahesa,Wastuti,mahesawastuti@yahoo.com,+62 (46) 932-1963,2024-02-09 13:59:44.733151
3,4,Drajat,Nainggolan,drajatnainggolan@yahoo.com,+62-042-726-1498,2024-02-09 13:59:44.733151
4,5,Simon,Wacana,simonwacana@hotmail.com,(0007) 948 5515,2024-02-09 13:59:44.733151

# Transform

In [36]:
df

,payment_id,reservation_id,provider,account_number,payment_status,payment_date,expire_date
0,1,1,Ovo,38137149,Success,2020-10-20 17:07:04.406780,2020-10-28 18:10:37.175108
1,2,2,BCA,42103729,Success,2015-02-28 16:44:56.703511,2015-03-08 05:27:33.443131
2,3,3,Permata,58689635,Success,2022-04-03 13:27:30.811447,2022-04-06 14:20:57.846492
3,4,4,BNI,107161965,Success,2019-10-04 08:39:56.034805,2019-10-08 02:01:21.209415
4,5,5,BSI,14334131,Failed,None,2020-06-14 12:02:55.669148
...,...,...,...,...,...,...,...
396,397,397,Permata,87836019,Success,2018-08-05 09:22:05.983116,2018-08-27 12:44:56.532991
397,398,398,Mandiri,50997930,Failed,None,2022-04-19 12:35:51.127022
398,399,399,Ovo,44305033,Success,2015-12-12 22:35:15.569310,2015-12-19 19:28:08.809478
399,400,400,BNI,84875963,Success,2021-07-29 16:38:06.052542,2021-08-02 22:27:28.713637
400,401,401,BCA,11111111,Success,2024-02-14 00:30:15.052542,2024-02-15 00:30:15.052542

In [30]:
df_reservation

,reservation_id,customer_id,reservation_date,start_date,end_date,total_price,review,rating,created_at
0,1,885,2020-10-03 14:38:18.907,2020-10-28 18:10:37.175,2020-11-07 06:56:19.627,7000000.0,hated hotel arrested talking loud arrived hote...,2,2025-01-26 06:11:04.602576
1,2,144,2015-02-17 20:44:11.696,2015-03-08 05:27:33.443,2015-03-13 01:01:28.449,15000000.0,great location 110 priceline hotel block tram ...,3,2025-01-26 06:11:04.602576
2,3,560,2022-03-19 12:18:48.993,2022-04-06 14:20:57.846,2022-04-10 08:06:20.564,3000000.0,"really great, great stay, rooms large clean go...",5,2025-01-26 06:11:04.602576
3,4,710,2019-10-01 12:33:58.891,2019-10-08 02:01:21.209,2019-10-19 06:25:22.948,15000000.0,great time wife recently opportunity stay sher...,2,2025-01-26 06:11:04.602576
4,5,606,2020-05-28 23:25:59.539,2020-06-14 12:02:55.669,2020-06-22 20:59:13.732,5000000.0,beautiful just returned night stay gran melia ...,2,2025-01-26 06:11:04.602576
...,...,...,...,...,...,...,...,...,...
395,396,552,2021-03-16 16:46:20.854,2021-03-18 08:22:51.726,2021-03-21 08:03:21.100,15000000.0,perfect families booked hotel based rave revie...,2,2025-01-26 06:11:04.696962
396,397,617,2018-08-01 23:40:55.197,2018-08-27 12:44:56.532,2018-09-01 19:05:38.807,5000000.0,hotel fab booked hotel reading reviews website...,3,2025-01-26 06:11:04.696962
397,398,258,2022-03-29 04:38:14.964,2022-04-19 12:35:51.127,2022-04-21 03:06:16.519,15000000.0,solid business hotel near embassy stayed hotel...,1,2025-01-26 06:11:04.696962
398,399,304,2015-12-01 20:42:11.606,2015-12-19 19:28:08.809,2015-12-22 02:52:27.249,1000000.0,nice hotel husband stayed crown plaza spring b...,5,2025-01-26 06:11:04.696962
399,400,770,2021-07-07 17:21:42.407,2021-08-02 22:27:28.713,2021-08-11 18:12:59.252,7000000.0,"charming lovely nhotel great location, wife st...",2,2025-01-26 06:11:04.696962

In [31]:
df_customer

,customer_id,first_name,last_name,email,phone,created_at
0,1,Surya,Nainggolan,suryanainggolan@hotmail.com,(0904) 694-4591,2024-02-09 13:59:44.733151
1,2,Estiawan,Saragih,estiawansaragih@hotmail.com,+62-62-782-9299,2024-02-09 13:59:44.733151
2,3,Mahesa,Wastuti,mahesawastuti@yahoo.com,+62 (46) 932-1963,2024-02-09 13:59:44.733151
3,4,Drajat,Nainggolan,drajatnainggolan@yahoo.com,+62-042-726-1498,2024-02-09 13:59:44.733151
4,5,Simon,Wacana,simonwacana@hotmail.com,(0007) 948 5515,2024-02-09 13:59:44.733151
...,...,...,...,...,...,...
995,996,Jono,Maryadi,jonomaryadi@hotmail.com,+62 (042) 227-3166,2024-02-09 13:59:44.733151
996,997,Wulan,Novitasari,wulannovitasari@yahoo.com,(0986) 708 8657,2024-02-09 13:59:44.733151
997,998,Balamantri,Salahudin,balamantrisalahudin@yahoo.com,(020) 504 7283,2024-02-09 13:59:44.733151
998,999,Ida,Prayoga,idaprayoga@hotmail.com,0886408953,2024-02-09 13:59:44.733151
999,1000,Heryanto,Siregar,heryantosiregar@hotmail.com,0800101666,2024-02-09 13:59:44.733151

### Join

In [33]:
df_cusXres = pd.merge(df_customer, df_reservation, how='inner', on='customer_id')
df_cusXres

,customer_id,first_name,last_name,email,phone,created_at_x,reservation_id,reservation_date,start_date,end_date,total_price,review,rating,created_at_y
0,2,Estiawan,Saragih,estiawansaragih@hotmail.com,+62-62-782-9299,2024-02-09 13:59:44.733151,139,2016-08-30 18:52:49.985,2016-09-20 18:18:02.814,2016-09-25 21:35:42.582,1000000.0,"probably ca n't wrong, hotel welcome respite c...",3,2025-01-26 06:11:04.638130
1,4,Drajat,Nainggolan,drajatnainggolan@yahoo.com,+62-042-726-1498,2024-02-09 13:59:44.733151,49,2021-09-11 04:17:09.909,2021-10-02 02:48:59.764,2021-10-04 09:03:50.491,13000000.0,"fun place went boyfriend time, separated soon ...",2,2025-01-26 06:11:04.616223
2,5,Simon,Wacana,simonwacana@hotmail.com,(0007) 948 5515,2024-02-09 13:59:44.733151,372,2018-05-01 20:26:20.625,2018-05-28 17:52:10.698,2018-06-04 10:00:05.209,9000000.0,excellent hotel money picked hotel based revie...,5,2025-01-26 06:11:04.693162
3,9,Catur,Maryadi,caturmaryadi@yahoo.com,+62 (618) 214 3988,2024-02-09 13:59:44.733151,384,2023-07-04 00:32:43.303,2023-08-03 04:00:49.376,2023-08-15 02:53:20.540,3000000.0,hell argonaut changed planned birthday getaway...,1,2025-01-26 06:11:04.695094
4,11,Najwa,Simbolon,najwasimbolon@yahoo.com,(0276) 921-7073,2024-02-09 13:59:44.733151,164,2018-02-18 05:46:32.044,2018-03-10 12:02:59.063,2018-03-23 09:23:56.599,1000000.0,fantastic place stay sf stayed nov 9 2008 room...,1,2025-01-26 06:11:04.642593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,991,Kasiran,Pranowo,kasiranpranowo@hotmail.com,+62-151-668-9685,2024-02-09 13:59:44.733151,322,2020-05-31 01:48:18.964,2020-06-27 06:31:51.097,2020-07-08 03:27:40.849,13000000.0,great location great service stayed excellent ...,2,2025-01-26 06:11:04.681145
396,993,Harjaya,Hartati,harjayahartati@yahoo.com,+62 (84) 043-5736,2024-02-09 13:59:44.733151,180,2018-05-20 22:30:51.744,2018-06-05 11:57:28.949,2018-06-12 04:43:46.331,3000000.0,lucky discovery having spent months florence y...,2,2025-01-26 06:11:04.647813
397,995,Irfan,Maryadi,irfanmaryadi@gmail.com,+62-057-742-8019,2024-02-09 13:59:44.733151,86,2022-06-25 18:25:26.577,2022-06-27 17:39:58.972,2022-07-02 20:36:45.339,11000000.0,great room location service price recently sta...,3,2025-01-26 06:11:04.624541
398,996,Jono,Maryadi,jonomaryadi@hotmail.com,+62 (042) 227-3166,2024-02-09 13:59:44.733151,241,2016-01-19 10:19:12.907,2016-01-26 08:08:00.170,2016-02-08 21:50:36.990,7000000.0,"askanischer hof, hotel, family stayed askanisc...",1,2025-01-26 06:11:04.663612
399,1000,Heryanto,Siregar,heryantosiregar@hotmail.com,0800101666,2024-02-09 13:59:44.733151,62,2016-06-22 16:38:50.950,2016-07-01 17:54:37.944,2016-07-08 15:56:10.137,1000000.0,"bit obviously invested lot make good hotel, 1-...",4,2025-01-26 06:11:04.619907

In [62]:
final_df = pd.merge(df_cusXres, df, how='inner', on='reservation_id')

In [63]:
final_df.head()

,customer_id,first_name,last_name,email,phone,created_at_x,reservation_id,reservation_date,start_date,end_date,total_price,review,rating,created_at_y,payment_id,provider,account_number,payment_status,payment_date,expire_date
0,2,Estiawan,Saragih,estiawansaragih@hotmail.com,+62-62-782-9299,2024-02-09 13:59:44.733151,139,2016-08-30 18:52:49.985,2016-09-20 18:18:02.814,2016-09-25 21:35:42.582,1000000.0,"probably ca n't wrong, hotel welcome respite c...",3,2025-01-26 06:11:04.638130,139,Ovo,16640674,Success,2016-09-15 14:06:21.733799,2016-09-20 18:18:02.814967
1,4,Drajat,Nainggolan,drajatnainggolan@yahoo.com,+62-042-726-1498,2024-02-09 13:59:44.733151,49,2021-09-11 04:17:09.909,2021-10-02 02:48:59.764,2021-10-04 09:03:50.491,13000000.0,"fun place went boyfriend time, separated soon ...",2,2025-01-26 06:11:04.616223,49,Dana,76380741,Success,2021-09-30 22:51:39.392363,2021-10-02 02:48:59.764712
2,5,Simon,Wacana,simonwacana@hotmail.com,(0007) 948 5515,2024-02-09 13:59:44.733151,372,2018-05-01 20:26:20.625,2018-05-28 17:52:10.698,2018-06-04 10:00:05.209,9000000.0,excellent hotel money picked hotel based revie...,5,2025-01-26 06:11:04.693162,372,Ovo,71579340,Waiting,None,2018-05-28 17:52:10.698413
3,9,Catur,Maryadi,caturmaryadi@yahoo.com,+62 (618) 214 3988,2024-02-09 13:59:44.733151,384,2023-07-04 00:32:43.303,2023-08-03 04:00:49.376,2023-08-15 02:53:20.540,3000000.0,hell argonaut changed planned birthday getaway...,1,2025-01-26 06:11:04.695094,384,Permata,126704617,Failed,None,2023-08-03 04:00:49.376104
4,11,Najwa,Simbolon,najwasimbolon@yahoo.com,(0276) 921-7073,2024-02-09 13:59:44.733151,164,2018-02-18 05:46:32.044,2018-03-10 12:02:59.063,2018-03-23 09:23:56.599,1000000.0,fantastic place stay sf stayed nov 9 2008 room...,1,2025-01-26 06:11:04.642593,164,BSI,124214471,Success,2018-03-07 00:43:44.620445,2018-03-10 12:02:59.063171

### Create New Columns

In [64]:
"""
 column nama full customer
 column total payment dengan IDR
 column email_domain
"""
def handling_col():
    if 'full_name' not in final_df.columns:
        final_df['full_name'] = final_df['first_name'] + ' ' + final_df['last_name']
    if 'total_price' in final_df.columns:
        final_df['currency'] = 'IDR'
    if 'email_domain' not in final_df.columns:
        final_df['email_domain'] = final_df['email'].str.split('@').str[1]

In [65]:
handling_col()

In [66]:
final_df.T

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
customer_id,2,4,5,9,11,13,14,14,14,25,...,975,979,986,987,988,991,993,995,996,1000
first_name,Estiawan,Drajat,Simon,Catur,Najwa,Oni,Daru,Daru,Daru,Setya,...,Kanda,Shakila,Febi,Warsita,Gangsa,Kasiran,Harjaya,Irfan,Jono,Heryanto
last_name,Saragih,Nainggolan,Wacana,Maryadi,Simbolon,Mandala,Latupono,Latupono,Latupono,Rajasa,...,Kurniawan,Usamah,Marpaung,Simanjuntak,Suryatmi,Pranowo,Hartati,Maryadi,Maryadi,Siregar
email,estiawansaragih@hotmail.com,drajatnainggolan@yahoo.com,simonwacana@hotmail.com,caturmaryadi@yahoo.com,najwasimbolon@yahoo.com,onimandala@gmail.com,darulatupono@hotmail.com,darulatupono@hotmail.com,darulatupono@hotmail.com,setyarajasa@yahoo.com,...,kandakurniawan@hotmail.com,shakilausamah@gmail.com,febimarpaung@hotmail.com,warsitasimanjuntak@gmail.com,gangsasuryatmi@hotmail.com,kasiranpranowo@hotmail.com,harjayahartati@yahoo.com,irfanmaryadi@gmail.com,jonomaryadi@hotmail.com,heryantosiregar@hotmail.com
phone,+62-62-782-9299,+62-042-726-1498,(0007) 948 5515,+62 (618) 214 3988,(0276) 921-7073,+62-492-871-5943,+62 (534) 599-5145,+62 (534) 599-5145,+62 (534) 599-5145,+62 (037) 621-7629,...,086 554 1872,(076) 001 0041,+62 (029) 365-3098,+62-005-639-8178,(0917) 672-9281,+62-151-668-9685,+62 (84) 043-5736,+62-057-742-8019,+62 (042) 227-3166,0800101666
created_at_x,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,...,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151,2024-02-09 13:59:44.733151
reservation_id,139,49,372,384,164,350,28,172,250,178,...,72,102,64,42,307,322,180,86,241,62
reservation_date,2016-08-30 18:52:49.985000,2021-09-11 04:17:09.909000,2018-05-01 20:26:20.625000,2023-07-04 00:32:43.303000,2018-02-18 05:46:32.044000,2017-05-28 19:21:10.915000,2017-02-04 01:48:49.112000,2018-09-27 01:41:21.886000,2015-04-03 07:34:48.228000,2022-11-24 23:22:42.395000,...,2016-02-03 14:22:04.975000,2018-10-20 20:38:00.445000,2015-11-13 17:41:50.517000,2022-07-31 18:19:08.357000,2023-12-15 09:15:04.802000,2020-05-31 01:48:18.964000,2018-05-20 22:30:51.744000,2022-06-25 18:25:26.577000,2016-01-19 10:19:12.907000,2016-06-22 16:38:50.950000
start_date,2016-09-20 18:18:02.814000,2021-10-02 02:48:59.764000,2018-05-28 17:52:10.698000,2023-08-03 04:00:49.376000,2018-03-10 12:02:59.063000,2017-06-14 00:26:18.932000,2017-02-18 06:59:20.424000,2018-10-18 04:59:54.349000,2015-04-25 09:52:54.235000,2022-11-30 14:20:27.780000,...,2016-02-11 15:01:20.193000,2018-11-16 18:14:40.984000,2015-11-20 06:28:29.081000,2022-08-24 09:26:35.508000,2023-12-26 00:14:26.880000,2020-06-27 06:31:51.097000,2018-06-05 11:57:28.949000,2022-06-27 17:39:58.972000,2016-01-26 08:08:00.170000,2016-07-01 17:54:37.944000
end_date,2016-09-25 21:35:42.582000,2021-10-04 09:03:50.491000,2018-06-04 10:00:05.209000,2023-08-15 02:53:20.540000,2018-03-23 09:23:56.599000,2017-06-18 03:54:42.063000,2017-03-01 01:22:47.384000,2018-10-26 17:53:04.600000,2015-05-07 16:23:54.526000,2022-12-12 10:42:05.923000,...,2016-02-19 12:27:01.926000,2018-11-19 15:06:00.984000,2015-11-25 13:51:50.784000,2022-08-30 18:06:49.685000,2024-01-04 17:40:05.060000,2020-07-08 03:27:40.849000,2018-06-12 04:43:46.331000,2022-07-02 20:36:45.339000,2016-02-08 21:50:36.990000,2016-07-08 15:56:10.137000
total_price,1000000.0,13000000.0,9000000.0,3000000.0,1000000.0,9000000.0,7000000.0,9000000.0,7000000.0,7000000.0,...,9000000.0,11000000.0,9000000.0,9000000.0,9000000.0,13000000.0,3000000.0,11000000.0,7000000.0,1000000.0
review,"probably ca n't wrong, hotel welcome respite c...","fun place went boyfriend time, separated soon ...",excellent hotel money picked hotel based revie...,hell argonaut changed planned birthday getaway...,fantastic place stay sf stayed nov 9 2008 room...,lovely located hotel stayed jury just night en...,great style service stayed granados 83 october...,maria cristina location read reviews hotels me...,wonderful stay wife stayed honeymoon 2 nights ...,dreadful service poor experience dreadful serv...,...,"not bad imagined, just returned 3 night stay h...",lan kwai fong hotel hong kong- decidedly avera...,fab hotel arrived today n't hesitate using hot...,"fantastic ask, partner just got hoxton anniver...",strange good husband stayed relais uffizi nigh...,great location great service stayed excellent ...,lucky discovery having spent months florence y...,great room location service price recently sta...,"askanischer hof, hotel, family stayed askanisc...","bit obviously invested lot make good hotel, 1-..."
rating,3,2,5,1,1,4,1,5,3,4,...,1,1,4,4,2,2,2,3,1,4
created_at_y,2025-01-26 06:11:04.638130,2025-01-26 06:11:04.616223,2025-01-26 06:11:04.693162,2025-01-26 06:11:04.695094,2025-01-26 06:11:04.642593,2025-01-26 06:11:04.687327,2025-01-26 06:11:04.611649,2025-01-26 06:11:04.644796,2025-01-26 06:11:04.665935,2025-01-26 06:11:04.647813,...,2025-01-26 06:11:04.622161,2025-01-26 06:11:04.629088,2025-01-26 06:11:04.619907,2025-01-26 06:11:04.613985,2025-01-26 06:11:04.679021,2025-01-26 06:11:04.681145,2025-01-26 06:11:04.647813,2025-01-26 06:11:04.624541,2025-01-26 06:11:04.663612,2025-01-26 06:11:04.619907
payment_id,139,49,372,384,164,350,28,172,250,178,...,72,102,64,42,307,322,180,86,241,62
provider,Ovo,Dana,Ovo,Permata,BSI,BNI,Mandiri,Permata,BNI,Ovo,...,Permata,BRI,Dana,Permata,Dana,BCA,BNI,Permata,BNI,Ovo
account_number,16640674,76380741,71579340,126704617,124214471,45455649,56900633,69235939,113271810,10014277,...,71608994,78226735,89704042,20744456,87974272,62572068,126038312,119271005,88865047,98612293
payment_status,Success,Success,Waiting,Failed,Success,Success,Success,Success,Success,Success,...,Success,Success,Success,Success,Success,Success,Success,Success,Success,Success
payment_date,2016-09-15 14:06:21.733799,2021-09-30 22:51:39.392363,None,None,2018-03-07 00:43:44.620445,2017-06-10 09:07:01.365411,2017-02-05 15:32:32.753439,2018-09-28 06:14:54.129614,2015-04-20 03:28:46.821408,2022-11-25 20:14:55.940342,...,2016-02-07 00:26:54.307496,2018-11-02 08:47:58.713702,2015-11-18 22:08:04.793063,2022-08-12 06:55:05.659188,2023-12-16 04:29:30.000422,2020-06-16 00:33:16.268677,2018-05-25 02:37:08.440257,2022-06-26 10:53:36.921245,2016-01-21 03:20:08.047553,2016-06-25 07:11:03.340820
expire_date,2016-09-20 18:18:02.814967,2021-10-02 02:48:59.764712,2018-05-28 17:52:10.698413,2023-08-03 04:00:49.376104,2018-03-10 12:02:59.063171,2017-06-14 00:26:18.932886,2017-02-18 06:59:20.424385,2018-10-18 04:59:54.349504,2015-04-25 09:52:54.235073,2022-11-30 14:20:27.780655,...,2016-02-11 15:01:20.193673,2018-11-16 18:14:40.984145,2015-11-20 06:28:29.081883,2022-08-24 09:26:35.508498,2023-12-26 00:14:26.880354,2020-06-27 06:31:51.097933,2018-06-05 11:57:28.949289,2022-06-27 17:39:58.972960,2016-01-26 08:08:00.170447,2016-07-01 17:54:37.944352
full_name,Estiawan Saragih,Drajat Nainggolan,Simon Wacana,Catur Maryadi,Najwa Simbolon,Oni Mandala,Daru Latupono,Daru Latupono,Daru Latupono,Setya Rajasa,...,Kanda Kurniawan,Shakila Usamah,Febi Marpaung,Warsita Simanjuntak,Gangsa Suryatmi,Kasiran Pranowo,Harjaya Hartati,Irfan Maryadi,Jono Maryadi,Heryanto Siregar
currency,IDR,IDR,IDR,IDR,IDR,IDR,IDR,IDR,IDR,IDR,...,IDR,IDR,IDR,IDR,IDR,IDR,IDR,IDR,IDR,IDR
email_domain,hotmail.com,yahoo.com,hotmail.com,yahoo.com,yahoo.com,gmail.com,hotmail.com,hotmail.com,hotmail.com,yahoo.com,...,hotmail.com,gmail.com,hotmail.com,gmail.com,hotmail.com,hotmail.com,yahoo.com,gmail.com,hotmail.com,hotmail.com

### Check Validation

In [67]:
def check_datatype():
    for col in final_df.columns:
        print("====================================")
        print(f"{col} : {final_df[col].dtype}")

In [68]:
check_datatype()

====================================
customer_id : int64
====================================
first_name : object
====================================
last_name : object
====================================
email : object
====================================
phone : object
====================================
created_at_x : datetime64[ns]
====================================
reservation_id : int64
====================================
reservation_date : datetime64[ns]
====================================
start_date : datetime64[ns]
====================================
end_date : datetime64[ns]
====================================
total_price : float64
====================================
review : object
====================================
rating : int64
====================================
created_at_y : datetime64[ns]
====================================
payment_id : int64
====================================
provider : object
====================================
account_number : int64
====================================
payment_status : object
====================================
payment_date : object
====================================
expire_date : object
====================================
full_name : object
====================================
currency : object
====================================
email_domain : object

In [71]:
def select_col(df):
    # Select specific columns from final_df
    selected_columns = ['reservation_id', 'full_name', 'email', 'email_domain', 'reservation_date', 'payment_date', 'start_date', 'end_date', 'total_price', 'currency', 'provider', 'payment_status']
    df = df[selected_columns]
    return df

In [72]:
final_df = select_col(final_df)
final_df.head()

,reservation_id,full_name,email,email_domain,reservation_date,payment_date,start_date,end_date,total_price,currency,provider,payment_status
0,139,Estiawan Saragih,estiawansaragih@hotmail.com,hotmail.com,2016-08-30 18:52:49.985,2016-09-15 14:06:21.733799,2016-09-20 18:18:02.814,2016-09-25 21:35:42.582,1000000.0,IDR,Ovo,Success
1,49,Drajat Nainggolan,drajatnainggolan@yahoo.com,yahoo.com,2021-09-11 04:17:09.909,2021-09-30 22:51:39.392363,2021-10-02 02:48:59.764,2021-10-04 09:03:50.491,13000000.0,IDR,Dana,Success
2,372,Simon Wacana,simonwacana@hotmail.com,hotmail.com,2018-05-01 20:26:20.625,None,2018-05-28 17:52:10.698,2018-06-04 10:00:05.209,9000000.0,IDR,Ovo,Waiting
3,384,Catur Maryadi,caturmaryadi@yahoo.com,yahoo.com,2023-07-04 00:32:43.303,None,2023-08-03 04:00:49.376,2023-08-15 02:53:20.540,3000000.0,IDR,Permata,Failed
4,164,Najwa Simbolon,najwasimbolon@yahoo.com,yahoo.com,2018-02-18 05:46:32.044,2018-03-07 00:43:44.620445,2018-03-10 12:02:59.063,2018-03-23 09:23:56.599,1000000.0,IDR,BSI,Success

### Check Missing

In [82]:
def check_missing_value():
    """
    Check for missing values in the DataFrame and calculate the percentage of missing values for each column.

    Parameters:
        final_df (pd.DataFrame): The DataFrame to check for missing values.

    Returns:
        pd.DataFrame: A DataFrame containing the count and percentage of missing values for each column.
    """
    # Check for missing values
    missing_values = final_df.isnull().sum()
    missing_percentage = (missing_values / len(final_df)) * 100

    # Combine results into a DataFrame
    missing_info = pd.DataFrame({
        'Missing Values': missing_values,
        'Missing Percentage': missing_percentage
    })

    return missing_info

In [83]:
check_missing_value()

                  Missing Values  Missing Percentage
reservation_id                 0                 0.0
full_name                      0                 0.0
email                          0                 0.0
email_domain                   0                 0.0
reservation_date               0                 0.0
payment_date                  84                21.0
start_date                     0                 0.0
end_date                       0                 0.0
total_price                    0                 0.0
currency                       0                 0.0
provider                       0                 0.0
payment_status                 0                 0.0

In [ ]:
import matplotlib.pyplot as plt

def visualize_missing_values(final_df):
    """
    Visualize the percentage of missing values in each column using a bar plot.
    """
    missing_info = check_missing_value(final_df)
    missing_info['Missing Percentage'].plot(kind='bar', title='Percentage of Missing Values by Column')
    plt.xlabel('Columns')
    plt.ylabel('Missing Percentage')
    plt.show()

# Visualize missing values
visualize_missing_values(final_df)

In [89]:
# Filling Missing Values

def fill_missing_values():
    # Fill missing values in the 'payment_status' column with 'Not Paid'
    final_df['payment_date'].fillna('Missing Data', inplace=True)


    # Check for missing values after filling
    return check_missing_value()

In [90]:
fill_missing_values()

C:\Users\US3R\AppData\Local\Temp\ipykernel_31112\2352423217.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_df['payment_date'].fillna('Missing Data', inplace=True)
C:\Users\US3R\AppData\Local\Temp\ipykernel_31112\2352423217.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['payment_date'].fillna('Missing Data', inplace=True)

                  Missing Values  Missing Percentage
reservation_id                 0                 0.0
full_name                      0                 0.0
email                          0                 0.0
email_domain                   0                 0.0
reservation_date               0                 0.0
payment_date                   0                 0.0
start_date                     0                 0.0
end_date                       0                 0.0
total_price                    0                 0.0
currency                       0                 0.0
provider                       0                 0.0
payment_status                 0                 0.0

# Load

## Create Load Engine

new engine to load

In [98]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

def load_data_to_neon(df, table_name):
    """
    Load data from a DataFrame into a Neon PostgreSQL table.

    Parameters:
        df (pd.DataFrame): The DataFrame containing the data to insert.
        table_name (str): The name of the table in the Neon database.
    """
    # Load environment variables from .env file
    load_dotenv()

    # Fetch environment variables
    db_user = os.getenv('DB_USER_Neon')
    db_password = os.getenv('DB_PASSWORD_Neon')
    db_host = os.getenv('DB_HOST_Neon')
    db_name = os.getenv('DB_NAME_Neon')
    db_sslmode = os.getenv('DB_SSLMODE_Neon')

    # Create the connection string
    connection_string = f"postgresql://{db_user}:{db_password}@{db_host}/{db_name}?sslmode={db_sslmode}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)

    try:
        # Insert DataFrame into Neon
        df.to_sql(table_name, engine, if_exists='append', index=False)
        print(f"Data inserted into table '{table_name}' successfully.")
    except Exception as e:
        print(f"Error inserting data into Neon: {e}")

#

In [99]:
load_data_to_neon(df, 'transformed_table')

Data inserted into table 'transformed_table' successfully.

## Retrieve Data from Neon

In [100]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

def retrieve_data_from_neon(query):
    """
    Retrieve data from a Neon PostgreSQL database.

    Parameters:
        query (str): The SQL query to execute.

    Returns:
        pd.DataFrame: A DataFrame containing the query results.
    """
    # Load environment variables from .env file
    load_dotenv()

    # Fetch environment variables
    db_user = os.getenv('DB_USER_Neon')
    db_password = os.getenv('DB_PASSWORD_Neon')
    db_host = os.getenv('DB_HOST_Neon')
    db_name = os.getenv('DB_NAME_Neon')
    db_sslmode = os.getenv('DB_SSLMODE_Neon')

    # Create the connection string
    connection_string = f"postgresql://{db_user}:{db_password}@{db_host}/{db_name}?sslmode={db_sslmode}"

    # Create SQLAlchemy engine
    engine = create_engine(connection_string)

    try:
        # Execute the query and load results into a DataFrame
        df = pd.read_sql(query, engine)
        print("Data retrieved successfully!")
        return df
    except Exception as e:
        print(f"Error retrieving data from Neon: {e}")
        return None

# Example usage
if __name__ == "__main__":
    # Example SQL query
    query = "SELECT * FROM transformed_table;"  # Replace with your table name

    # Call the function to retrieve data
    data = retrieve_data_from_neon(query)

    # Display the retrieved data
    if data is not None:
        print(data)

Data retrieved successfully!
     payment_id  reservation_id provider  account_number payment_status  \
0             1               1      Ovo        38137149        Success
1             2               2      BCA        42103729        Success
2             3               3  Permata        58689635        Success
3             4               4      BNI       107161965        Success
4             5               5      BSI        14334131         Failed
..          ...             ...      ...             ...            ...
396         397             397  Permata        87836019        Success
397         398             398  Mandiri        50997930         Failed
398         399             399      Ovo        44305033        Success
399         400             400      BNI        84875963        Success
400         401             401      BCA        11111111        Success

                   payment_date                 expire_date
0    2020-10-20 17:07:04.406780  2020-10-28 18:10:37.175108
1    2015-02-28 16:44:56.703511  2015-03-08 05:27:33.443131
2    2022-04-03 13:27:30.811447  2022-04-06 14:20:57.846492
3    2019-10-04 08:39:56.034805  2019-10-08 02:01:21.209415
4                          None  2020-06-14 12:02:55.669148
..                          ...                         ...
396  2018-08-05 09:22:05.983116  2018-08-27 12:44:56.532991
397                        None  2022-04-19 12:35:51.127022
398  2015-12-12 22:35:15.569310  2015-12-19 19:28:08.809478
399  2021-07-29 16:38:06.052542  2021-08-02 22:27:28.713637
400  2024-02-14 00:30:15.052542  2024-02-15 00:30:15.052542

[401 rows x 7 columns]